// VARIABLES
$type-base: 'Open Sans', sans-serif;
$type-heading: 'Bitter', serif;
$type-linewidth: 38em;
$type-color-body: #333;
$type-color-headings: #000;
$type-color-lightgrey: rgba(0,0,0,0.5);

// COLOR
$link-color: #39c;
$link-color-dark: #069;
$accent-color: #093550;
$hero-bg-color: #faeff5;

//BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1250px;

@import "partials/toc";
@import "partials/typography";
@import "partials/components";
@import "partials/media";
@import "partials/layout";
@import "partials/structure";