/* Layout */

// Layout

/* Media Queries */

* {box-sizing: border-box;}

//small screans and up (mobile-first)
body {
    font-size: 87.5%;/* 14px*/
    margin: 0;
    padding: 0;
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 4%;
}

//medium screens (tablet)
@media(min-width: $breakpoint-small) { 
    
    body {
        font-size: 100%;/* 16px*/
    }
}

//large screens (notebooks)
@media(min-width: $breakpoint-medium) {
    
    .container {
        max-width: $breakpoint-medium - 50;
        padding: 0 50px;
    }
}

//extra large screens (desktop ++)
@media(min-width: $breakpoint-large) {

    body {
        font-size: 112.5%;/* 18px*/
    }

    .container {
        max-width: $breakpoint-large - 50;
    }
}

/* Grid */
$grid-column-gap: 2%;

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-column-gap/2;
    margin-right: -$grid-column-gap/2;
    align-content: center;
    justify-content: center;
}

.row > .column {
    flex-grow: 1;
    margin: 0 $grid-column-gap/2 $grid-column-gap $grid-column-gap/2;
    @media(max-width: $breakpoint-small - 1) {
        flex-grow: 0;
        flex-basis: $breakpoint-small;
    }
}

//FOR DEMO PURPOSES
.demo .column {
    padding: 1em;
    background: #ccc;
    text-align: center;
}
